body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	background: url('https://github.com/TinyJay/TinyJay.github.io/blob/master/background/bg-3.jpg?raw=true') #000 no-repeat;
	background-size: 100%;
	top:0; 
	left:0; 
	height:100%; 
	width:100%; 
	background-position: center 0; 
	background-repeat: no-repeat; 
	background-attachment:fixed; 
	background-size: cover; 
	-webkit-background-size: cover;/* 兼容Webkit内核浏览器如Chrome和Safari */ 
	-o-background-size: cover;/* 兼容Opera */ 
	zoom: 1; 
}

nav {
	width: 100%;
	height: 60px;
	background: rgba(0, 0, 0, .3);
	position: top;
	z-index: 10;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	text-align: center;
	float: left;
	line-height: 60px;
}

nav ul li a {
	width: 100px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	display: block;
}

nav ul li a:hover,
nav ul li a:visited {
	text-decoration: none;
	background: rgba(0, 0, 0, .8);
	color: #fff;
}

.words {
	font-size: 40px;
	letter-spacing: 10px;
	position: absolute;
	top: 50%;
	left: 30%;
}

.imgw {
	position: relative;
}

#slogan {
	text-align: center;
	font-size: 36px;
	margin-top: 20%;
	color: #fff;
}

#slogan span {
	color: #ff0
}

#slogan span.selected {
	background: #09f;
	color: #fff;
}